{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Votre blibliothèque numérique</h1>
                <p class="lead fw-normal text-white-50 mb-0">Louer votre propre bliblothèque en ligne</p>
            </div>
        </div>
    </header>



{% endblock %}